{% block sw_cms_el_preview_recently_viewed_product_slider %}
    <div class="sw-cms-el-preview-product-slider">
        <mt-icon name="regular-chevron-left-s" size="10"></mt-icon>
        <sw-cms-product-box-preview :hasText="false"></sw-cms-product-box-preview>
        <mt-icon name="regular-chevron-right-s" size="10"></mt-icon>
    </div>
{% endblock %}
