{% block sw_cms_element_recently_viewed_product_slider %}
    <div class="sw-cms-el-product-slider" :class="classes" :style="verticalAlignStyle">
        {% block sw_cms_element_recently_viewed_product_slider_title %}
            <div class="sw-cms-el-product-slider__title" v-if="element.config.title.value">
                {{ element.config.title.value }}
            </div>
        {% endblock %}

        {% block sw_cms_element_recently_viewed_product_slider_content %}
            <div class="sw-cms-el-product-slider__content">
                {% block sw_cms_element_recently_viewed_product_slider_arrow_left %}
                    <div v-if="hasNavigation" class="sw-cms-el-product-slider__navigation">
                        <mt-icon class="sw-cms-el-product-slider__navigation-button"
                                 name="regular-chevron-left-s"
                                 size="24">
                        </mt-icon>
                    </div>
                {% endblock %}

                {% block sw_cms_element_recently_viewed_product_slider_product_holder %}
                    <div class="sw-cms-el-product-slider__product-holder" :style="sliderBoxMinWidth" ref="productHolder">
                        <template>
                            {% block sw_cms_element_recently_viewed_product_slider_demo_data %}
                                <sw-cms-el-product-box :element="demoProductElement"
                                                       v-for="index in sliderBoxLimit"
                                                       :key="index">
                                </sw-cms-el-product-box>
                            {% endblock %}
                        </template>
                    </div>
                {% endblock %}

                {% block sw_cms_element_recently_viewed_product_slider_arrow_right %}
                    <div v-if="hasNavigation" class="sw-cms-el-product-slider__navigation">
                        <mt-icon class="sw-cms-el-product-slider__navigation-button"
                                 name="regular-chevron-right-s"
                                 size="24">
                        </mt-icon>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
