{% block sw_cms_preview_recently_viewed_product_slider %}
    <div class="sw-cms-preview-recently-viewed-product-slider">
        <mt-icon name="regular-chevron-left-s" size="20"></mt-icon>
        <div class="sw-cms-preview-recently-viewed-product-slider__product-box">
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
        </div>
        <mt-icon name="regular-chevron-right-s" size="20"></mt-icon>
    </div>
{% endblock %}
